@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color: #344563;
}

*::-moz-scrollbar {
    scrollbar-width: thin;  /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer */
    display: none;  /* Firefox */
}

::-moz-scrollbar {
    scrollbar-width: thin;  /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer */
    display: none;  /* Firefox */
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    /* background-color: rgba(128, 128, 128, 0.342); */
}
  
::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.342);
    border-radius: 5px;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(179, 178, 178);
}

::-webkit-scrollbar-track {
    background-color: #F8F8F8; 
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background-color: #F8F8F8; 
}

::-webkit-scrollbar-button {
    display: none;
    visibility: hidden;
}

.linegreen::after {
    @apply w-16 h-1 mx-auto mt-2 rounded-full lg:mx-0 md:w-20 bg-linegreen;
    content: '';
    display: block;
}

.container-title {
    @apply my-4 text-2xl font-semibold md:text-4xl;
}

.container-super-title {
    @apply mb-2.5 md:mb-4 text-xl md:text-2xl;
}

.text-content {
    @apply text-base leading-7 md:text-lg lg:leading-10
}

.form-input {
    @apply border border-gray-200 input form-control focus:outline-none;
}

.form-textarea {
    @apply border border-gray-200 textarea form-control focus:outline-none;
}

.input-label {
    @apply block pb-2;
    font-size: 16px;
}

.v-enter-active,
.v-leave-active {
  transition: all .8s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;

    z-index: 500;

    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.2);

    display: grid;
    place-items: center;
}